/* This is where the internal css that impacts both layouts gets inserted. */
/* Quick description of Critical CSS: CSS that is inside of an internal style tag in the head to reduce the load time for elements that impact the structure of items in the above the fold region */


/* Above the Fold */



/* Structural */
*,body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }
*,body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,hr,dl,dd,ol,ul,figure,select,option,mark{
  font-family:ISURegular;
}
 h2, h3, h4, h5, h6{
  /* margin: .2em 0 !important; removed the important 7-9-20 JT */
  margin: .2em 0;

  /* padding:0 2rem; */
}
h1{
  font-size: 2rem;
}
h2{
  /* font-size: 1.5rem; */
}
p{
  /* margin: 1em 0 !important; */
  margin: 1em 0;

}
ul, ol {
    padding: .5em 1.5em;
}
html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
.h1{
  color:#222222;
}
h1 {
  max-width: 1500px;
  margin: 0 auto!important;
  padding: .5rem;
}
section{
  content-visibility: auto;
  contain-intrinsic-size: 1px 500px;
}
.max-width__tier-1{
  max-width: 1500px;
  margin:0 auto;
}
.max-width__tier-2{
  /* max-width: ; */
}
.max-width__tier-3{
  /* max-width: ; */
}
main{
  min-height: 25vh;
}

nav a{
  font-size: 1em;
}

nav{
  background-color: #cc0000;
  color: #ffffff;
  text-align: center;
}

.header_top__background{
  padding: 1.5rem;
  width:100%;
  background: #ffffff;
}

.isu-logo .isu-logo-seal-wrapper .isu-logo-seal.isu-logo-full-seal {
  display: none;
}

.isu-logo .isu-logo-seal-wrapper .isu-logo-seal {
  width: 4em;
  height: 4em;
}

a.linkhome {
  text-decoration: none;
}
a.linkhome:hover, a.linkhome:focus {
  text-decoration: none;
}
.isu-logo-seal-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.isu-logo-wordmark-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.isu-logo .isu-logo-wordmark-wrapper .isu-logo-wordmark {
  color: #cc0000;
  font-family: 'ISULogoSerif';
  font-size: 1.5rem;
  line-height: 1;
  font-variant: small-caps;
}

.isu-logo .isu-logo-wordmark-wrapper .isu-logo-subscript {
  color: #cc0000;
  font-family: 'ISUSerifItalic';
  font-size: .9rem;
  line-height: 1.75;
  font-style: italic;
}

.isu-logo-seal {
  background-color: #cc0000;
  padding: .2em;
  border-radius: 50%;
}

.header_social {
  margin-top: .5em;
  display: inline-block;
}

.header_social .icon {
  color: #767676;
  text-decoration: none !important;
  font-size: 2.7em;
  transition: .5s;
}


#searchBox {
  margin: 1em 0;
}

#searchdiv {
  text-align: right;
  margin: 0;
  height: 25px;
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

#searchBoxText {
  width: 75%;
  z-index: 1;
  height: 25px;
  padding: 0;
  margin-top: .5em;
  vertical-align: middle;
  font-size: 1.1em;
  border: none;
}

#searchsite {
  display: none;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

button.icon__search--before {
  vertical-align: middle;
  margin: 0;
  padding-right: .2em;
  background: transparent;
  border: none;
  font-size: 1.5em !important;
}

footer #searchBackground {
  margin: 0 auto;
}

footer .socialIcons {
  text-align: center;
}

@media only screen and (min-width:768px) {

  h1 {
    /* padding: 0 2rem;  seems to be causing issues in most pages like fac & staff */
  }
  .header_social .icon {
    font-size: 2.5em;
  }

  /*Search*/
  input {
    outline: none;
  }

  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    display: none;
  }

  #searchBackground {
    padding: .5em;
    height: 2em;
    border: solid 1px #767676 !important;
    padding-left: 10px !important;
    width: 6em !important;
    color: transparent;
    cursor: pointer;

    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;

    font-family: inherit;
    font-size: 100% !important;

    -webkit-border-radius: 10em !important;
    -moz-border-radius: 10em;

    border-radius: 10em !important;

    -webkit-transition: all .5s !important;
    -moz-transition: all .5s;
    transition: all .5s !important;
  }

  #searchBackground:focus-within {
    width: 12em !important;
    border-color: #cc0000 !important;
    color: #000;
    background-color: #fff;
    cursor: auto;

    -webkit-box-shadow: 0 0 5px rgba(153, 0, 0,.5) !important;
    -moz-box-shadow: 0 0 5px rgba(153, 0, 0,.5) !important;
    box-shadow: 0 0 5px rgba(153, 0, 0,.5) !important;
  }

  #searchBoxText{
    width: 50% !important;
    overflow: scroll;
  }

  #searchBackground:focus-within > #searchBoxText {
    width: 75% !important;
    color: #000;
  }

  #searchBackground:focus-within > .icon {
    color: #000;
  }

  input[type=text]:hover {
    background-color: #fff;
  }

  input:-moz-placeholder {
    color: transparent;
  }

  input::-webkit-input-placeholder {
    color: transparent;
  }

  .socialIcons {
    text-align: right;
  }

  .header_social {
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr 2fr;
    -ms-grid-columns: 1fr 2fr;
    align-items: center;
    justify-items: end;
    grid-column-gap: 1em;
    -ms-grid-column-align: end;
    -ms-grid-row-align: center;
  }

  #layerSearch {
    -ms-grid-column: 1;
  }

  .socialIcons {
    -ms-grid-column: 2;
  }
}

@media only screen and (min-width:1200px) {
  .header_social {
    grid-template-columns: 2fr 2fr;
    -ms-grid-columns: 2fr 2fr;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header_social #searchBackground{
    float:right;
    clear: both;
    margin-right: 1em;
    width: 10em !important;
    height: 3em;
    margin-bottom: .5em;
  }

  footer #searchBackground{
    width: 10em !important;
    height: 3em;
    margin-bottom: .5em;
  }

  .header_social .socialIcons {
    float:left;
    clear: both;
    margin-top:1.5em;
  }
}

/*----------- FEATURES  ------------*/

/*----- COPY PASTA FOR NEW FEATURE -----*/
/*feature name*/
{% comment %}
{% if page.features. == true or page.features.alpha. == true or page.features.pre. == true or page.features.post. == true or page.features.omega. == true %}{% endif %}

{% endif %}
{% endcomment %}


/*billboard*/
{% if page.features.billboard == true or page.features.alpha.billboard == true or page.features.pre.billboard == true or page.features.post.billboard == true or page.features.omega.billboard == true %}

.billboard-wrapper{
  color: white;
}
.billboard-buttons a{
  color: white;
}
.billboard-content img{
  width: 100%;
  object-fit: cover;
}
{% endif %}


/*slider*/
{% if page.features.slider == true or page.features.alpha.slider == true or page.features.pre.slider == true or page.features.post.slider == true or page.features.omega.slider == true %}

/* Slider */

.slick-slider {
    position: relative;
    /* // display: block; */
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-arrow.slick-hidden {
    display: none;
}
{% endif %}
