

<div class="header_top__background">
<div class="max-width__tier-1" >
<div id="message" class="college-message__wrapper">
</div>
{% comment %}<style>.department-message{display:none;}.department-message__image-container--light{background:#cc0000;}.department-message__image-container--dark{background:#cc0000;}</style>
<section id="departmentMessage" class="department-message__wrapper ">
</section>{% endcomment %}



  <div class="header_top__wrapper">

  <div class="isu-logo isu-logo-two-line" >
    <a class="linkhome" href="{{site.baseurl}}/">
      <div class="isu-logo-seal-wrapper">
        <img class="isu-logo-seal isu-logo-simp-seal" src="//cdn.illinoisstate.edu/svg/logos/illinoisstate-seal-simple.svg" alt="Illinois State University" />
        <img class="isu-logo-seal isu-logo-full-seal" src="//cdn.illinoisstate.edu/svg/logos/illinoisstate-seal.svg" alt="Illinois State University" />

      </div>
      <div class="isu-logo-wordmark-wrapper">
        <div class="isu-logo-wordmark" style="width: 200px;">
          <span class="isu-logo-wordmark">{{site.title}}</span>
        </div>
        <div class="isu-logo-subscript">Illinois State University</div>
      </div>
    </a>
  </div>

  <div class="header_social">
      {% include structure/search.html %}
    	{% include structure/social-media.html %}
  </div>
</div>
</div>
</div>
